.bannerContainer {
  background-color: white;
  padding: 6em 0;

  .bannerGrid {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 1em;
    align-items: center;
  }

  .imageContainer {
    overflow: hidden;
    img {
      object-fit: contain;
    }
  }

  .callToAction {
    padding: 0 1em;

    h1 {
      font-size: 4rem;
      line-height: 4.5rem;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-weight: 500;
      color: var(--neutral2);
      margin: 0;
      margin-bottom: 2em;
    }
  }
}

@media only screen and (max-width: 600px) {
  .bannerContainer {
    .bannerGrid {
      grid-template-columns: 1fr;
      grid-template-rows: 50% 1fr;
    }

    .imageContainer {
      order: 1;
    }

    .callToAction {
      order: 2;
      text-align: center;

      h1 {
        font-size: 3rem;
      }
    }
  }
}
