@import "../../assets/sass/mixins";

.background {
  background-color: rgba(158, 154, 167, 0.2);
}

.container {
  @include container-limit;

  padding-top: 5em;
  text-align: center;

  .shortLinks {
    padding: 1em 0;

    justify-content: center;
    margin: 0 auto;
    width: 80%;

    & > div:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .details {
    padding: 3em 0;
    display: inline-block;
    text-align: center;

    h1 {
      margin: 0;
    }
    p {
      max-width: 30em;
      color: var(--neutral2);
    }
  }

  .cardGrid {
    display: grid;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 60rem;
    padding-bottom: 3em;
    grid-template-columns: 1fr 1.5rem 1fr 1.5rem 1fr;

    .line {
      width: 100%;
      height: 0.5rem;
      background-color: var(--primary-light);
      align-self: center;
    }

    @for $i from 1 through 5 {
      .cardCell:nth-child(#{$i}) {
        padding-top: ($i - 1) * 1rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-top: 8em;

    .shortLinks {
      width: 90%;
    }

    .cardGrid {
      grid-template-rows: 1fr 4rem 1fr 4rem 1fr;
      grid-template-columns: 1fr;

      .line {
        height: 100%;
        width: 0.5rem;
        background-color: var(--primary-light);
        justify-self: center;
      }

      @for $i from 1 through 5 {
        .cardCell:nth-child(#{$i}) {
          padding-top: 0;
        }
      }
    }
  }
}
