body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.aspect-ratio-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --primary-light: hsl(180, 66%, 49%);
  --primary-dark: hsl(257, 27%, 26%);

  --secondary: hsl(0, 87%, 67%);

  --neutral1: hsl(0, 0%, 75%);
  --neutral2: hsl(258, 7%, 63%);
  --neutral3: hsl(255, 11%, 22%);
  --neutral4: hsl(260, 8%, 14%);
}
